﻿@model TrackingSystem.ViewModels.Feedback

@{
    ViewBag.Title = "Details";
}

<br />
<h3>Customer questions</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.Raw(Model.Message.Replace(Environment.NewLine, "<br/>"))
        </dd>

    </dl>
    @if ((bool)ViewBag.Viewed == false)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();

            <div class="form-actions no-color">
                <input type="submit" value="Viewed" class="btn btn-success" />
            </div>
        }
    }

<br />

    @using (Html.BeginForm("Delete", "Question", new { Id = (int)ViewBag.Id },FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Questions", "Question")
        </div>
    }
</div>
