﻿@using PagedList.Mvc;
@model PagedList.IPagedList<TrackingSystem.ViewModels.FeedbackDesplay>

@{
    ViewBag.Title = "Questions";
}
<br />
<h3>Customer questions</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Viewed == true)
        {
            <tr class="text-muted">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Question", new { id = item.Id }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Question", new { id = item.Id }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    }

</table>
@if (Model.PageCount != 1)
{
    <br />
    <span>Page</span> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) <span>of</span> @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Questions", new { page }))
}