﻿@model TrackingSystem.ViewModels.TaskDetails

@{
    ViewBag.Title = "Delete";
}

<br />
<h3>Delete</h3>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instruction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instruction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        @if (Model.Status == (TrackingSystem.Enums.Status)2 || Model.Status == (TrackingSystem.Enums.Status)3)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Expired)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Expired)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeEmail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" /> |
            @Html.ActionLink("Back to List", "Tasks")
        </div>
    }
</div>
