﻿@model TrackingSystem.ViewModels.TaskDetails

@{
    ViewBag.Title = "Details";
}

<br />
<h3>Details</h3>

<div>
    <h4>TaskDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instruction)
        </dt>

        <dd>
            @Html.Raw(Model.Instruction.Replace(Environment.NewLine, "<br/>"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        @if (Model.Status == (TrackingSystem.Enums.Status)4 || Model.Status == (TrackingSystem.Enums.Status)3)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Expired)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Expired)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeEmail)
        </dd>

    </dl>
    @if (Model.Status != (TrackingSystem.Enums.Status)4 && Model.Status != (TrackingSystem.Enums.Status)3)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();

            <div class="form-actions no-color">
                <input type="submit" value="Done" class="btn btn-success" />
            </div>
        }
    }

    @Html.ActionLink("Back to List", "Tasks")
</div>
