﻿@using PagedList.Mvc;
@model PagedList.IPagedList<TrackingSystem.ViewModels.DisplayTask>

@{
    ViewBag.Title = "Tasks";

    var sum = Model.Count();
    var done = Model.Where(t => t.Status == (TrackingSystem.Enums.Status)3 || t.Status == (TrackingSystem.Enums.Status)4).Count();
    var expired = Model.Where(t => t.Status == (TrackingSystem.Enums.Status)2).Count();
    var needToDo = sum - done - expired;

    double expiredPercent = sum != 0 ? (double)expired / sum * 100 : 0;
    double needToDoPercent = sum != 0 ? (double)needToDo / sum * 100 : 0;
    double donePercent = sum != 0 ? (double)done / sum * 100 : 0;
}

<br />
<h3>Tasks</h3>

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create", "Task", null, new { @class = "btn btn-warning" })
    </p>
}

<div class="progress">
    <div class="progress-bar bg-danger" style="width: @((int)expiredPercent)%;" role="progressbar" aria-valuenow="@expired" aria-valuemin="0" aria-valuemax="@sum">@((int)expiredPercent)%</div>
    <div class="progress-bar bg-warning" style="width: @((int) needToDoPercent)%;" role="progressbar" aria-valuenow="@needToDo" aria-valuemin="0" aria-valuemax="@sum">@((int) needToDoPercent)%</div>
    <div class="progress-bar bg-success" style="width: @((int)donePercent)%;" role="progressbar" aria-valuenow="@done" aria-valuemin="0" aria-valuemax="@sum">@((int)donePercent)%</div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Creating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Deadline)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (item.Status == (TrackingSystem.Enums.Status)4 || item.Status == (TrackingSystem.Enums.Status)3)
            {
                <td class="text-success">
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td class="text-success">
                    @Html.DisplayFor(modelItem => item.Creating)
                </td>
                <td class="text-success">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="text-successs">
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
            }
            else if (item.Status == (TrackingSystem.Enums.Status)2)
            {
                <td class="text-danger">
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td class="text-danger">
                    @Html.DisplayFor(modelItem => item.Creating)
                </td>
                <td class="text-danger">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="text-danger">
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
            }
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-warning" }) <span>&nbsp;</span>

                @if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                    <span>&nbsp;</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-warning" })
                }
            </td>
        </tr>
    }

</table>
@if (Model.PageCount != 1)
{
    <br />
    <span>Page</span> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) <span>of</span> @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Tasks", new { page }))
}