﻿@using PagedList.Mvc;
@model PagedList.IPagedList<TrackingSystem.ViewModels.DisplayEmployeeModel>

@{
    ViewBag.Title = "Employees";
}

<br />
<h3>Employees</h3>

@if (User.IsInRole("admin"))
{
    @Html.ActionLink("Add employee", "Registretion", "Account", null, new { @class = "btn btn-warning" })
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DateOfBirth)
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", "Account", new { id = item.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", "Account", new { id = item.Id }, new { @class = "btn btn-warning" })
                </td>
            }
        </tr>
    }

</table>

@if (Model.PageCount != 1)
{ 
    <br />
    <span>Page</span> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) <span>of</span> @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Employees", new { page }))
}