﻿@{
    var currentAction = this.ViewContext.RouteData.GetRequiredString("action");
    var currentController = this.ViewContext.RouteData.GetRequiredString("controller");
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
</head>
<body class="pt-0">
    <header class="p-3 mt-0 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" id="navbarSupportedContent">
                <a href="~/Home/Index" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="~/Image/light_logo.svg" class="me-2 mt-0 mb-0" width="110" alt="Interdes Studio" />
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>@Html.ActionLink("Services", "Index", "Home", null, new { @class = currentAction == "Index" && currentController == "Home" ? "nav-link px-2 text-secondary" : "nav-link px-2 text-white" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", null, new { @class = currentAction == "About" && currentController == "Home" ? "nav-link px-2 text-secondary" : "nav-link px-2 text-white" })</li>
                </ul>
                <div class="text-end">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Login", "Login", "Home", null, new { @class = "btn btn-outline-light me-2" })
                    }
                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Add employee", "Registretion", "Account", null, new { @class = "btn btn-warning" })
                        <span>&nbsp;</span>
                        @Html.ActionLink("Create new task", "Create", "Task", null, new { @class = "btn btn-warning" })
                    }
                </div>
            </div>
        </div>
    </header>

    <div class="col-md-11">
        <div class="row">
            <div class="col-md-2">
                <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: auto; height: 91vh">
                    <span class="fs-4">@User.Identity.Name.Substring(0, User.Identity.Name.IndexOf('@'))</span>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            @Html.ActionLink("Employees", "Employees", "Account", null, new { @class = currentController == "Account" ? "nav-link text-dark bg-warning" : "nav-link link-dark" })
                        </li>
                        <li>
                            @Html.ActionLink("Tasks", "Tasks", "Task", null, new { @class = currentController == "Task" ? "nav-link text-dark bg-warning" : "nav-link link-dark" })
                        </li>
                        @if (User.IsInRole("admin"))
                        {
                        <li>
                            @Html.ActionLink("Customer questions", "Questions", "Question", null, new { @class = currentController == "Question" ? "nav-link text-dark bg-warning" : "nav-link link-dark" })
                        </li>
                        }
                    </ul>
                    <hr>
                    <a href="/Home/Logout" class="nav-link link-dark fs-5">Sign out</a>
                </div>
            </div>
            <div class="col-md-10">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
