﻿@{ 
    var currentAction = this.ViewContext.RouteData.GetRequiredString("action");
    var currentController = this.ViewContext.RouteData.GetRequiredString("controller");
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="pt-0 pb-0">
    <header class="p-3 mt-0 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" id="navbarSupportedContent">
                <a href="~/Home/Index" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="~/Image/light_logo.svg" class="me-2 mt-0 mb-0" width="110" alt="Interdes Studio" />
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>@Html.ActionLink("Services", "Index", "Home", null, new { @class = currentAction == "Index" && currentController == "Home" ? "nav-link px-2 text-secondary" : "nav-link px-2 text-white" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", null, new { @class = currentAction == "About" && currentController == "Home" ? "nav-link px-2 text-secondary" : "nav-link px-2 text-white" })</li>
                </ul>
                <div class="text-end">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Login", "Login", "Home", null, new { @class = "btn btn-outline-light me-2" })
                    }
                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Add employee", "Registretion", "Account", null, new { @class = "btn btn-warning" })
                        <span>&nbsp;</span>
                        @Html.ActionLink("Create new task", "Create", "Task", null, new { @class = "btn btn-warning" })
                        <span>&nbsp;</span>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (currentAction != "Index" || currentController != "Account")
                        {
                            <a class="btn btn-warning me-2" href="/Account/Employees">
                                <img class="bi bi-person-circle" src="~/Image/person-circle.svg" alt="Profile" />
                                Profile
                            </a>
                        }
                        @Html.ActionLink("Sign out", "Logout", "Home", null, new { @class = "btn btn-outline-light me-2" })
                    }
                </div>
            </div>
        </div>
    </header>

    <div class="container mb-4">
        @RenderBody()
    </div>

    @RenderSection("form", false)

    <div class="container mt-lg-5">
        <footer>
            <div class="row">
                <div class="col-md-2">
                    <a href="~/Home/Index" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <img src="~/Image/logo_bez_koronadasha.svg" class="me-2 mt-0 mb-0" width="110" alt="Interdes Studio" />
                    </a>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <br />
                    <h5 class="me-2">Follow</h5>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <br />
                    <h5 class="me-2">Contact</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <hr />
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <hr />
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.ActionLink("services", "Index", "Home", null, new { @class = "text-decoration-none text-dark" })
                    <br />
                    @Html.ActionLink("about", "About", "Home", null, new { @class = "text-decoration-none text-dark" })
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    Instagram<br />
                    Twitter<br />
                    YouTube
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    *phone*<br />
                    *mail*
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6 pt-xxl-5">
                    <small class="align-bottom">&copy; 2021-@DateTime.Now.Year - All rights reserved.</small>
                </div>
                <div class="col-md-6">
                    <img class="float-end me-2 mt-0 mb-0" src="~/Image/flowers.svg" width="65" />
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
