﻿@{
    ViewBag.Title = "About";
}


<div class="row mt-3" style="color: #100C09;">
    <div class="col-md-12">
        <div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="align-bottom">About us</h3>
                    <hr class="bg-dark border-dark border-3 border-top mx-md-auto" style="width:150px; background-color: #948064; border-color: #948064;"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Image/not_vsy_brigada.png" class="img-fluid rounded-start" />
                </div>
                <div class="col-md-8 text-start">
                    <br />
                    <br />
                    <br />
                    <br />
                    <p style="font-size: 24px;">
                        <span style="color: #948064; ">Interdes Studio</span>
                        believes that it is important to create something new, because
                        architecture is the face of the current generation, a symbol of the present moment.
                        It is the buildings that create the chronicle of time, from them we learn about the
                        history of people, their way of life and mores.<br />
                        Our young team is ready to make your wildest desires come true. Having worked in this
                        field since fifteen years, we have gained invaluable experience that we use when creating our masterpieces.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
