﻿
@{
    ViewBag.Title = "Confirm";
}

<div class="alert alert-secondary mt-4" role="alert">
    <h4 class="alert-heading">Mail sent!</h4>
    <p>The message has been sent to your email, follow the link in it.</p>
    <hr>
    <p class="mb-0">Do not forward this message to anyone.</p>
</div>