﻿@model TrackingSystem.ViewModels.ForgotPasswordModel

@{
    ViewBag.Title = "ForgotPassword";
}

<br />
<h3>Forgot password</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group mt-xxl-5 mb-4">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="mt-xxl-5 mb-xxl-5">
    @Html.ActionLink("Back", "Login", "Home", htmlAttributes: new { @class = "text-decoration-none" })
</div>
