﻿@model TrackingSystem.ViewModels.Feedback

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-6">
        <div class="card mt-4 mb-3 shadow-sm" style="width: 650px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body" style="color: #100C09;">
                        <p class="card-text" style="text-align: right;">
                            The <span style="font-size: 20px; color: #948064; ">design project</span> of the apartment includes the creation of a
                            planning solution for the premises, photorealistic visualization, a full package
                            of technical drawings and subsequent supervision.
                        </p>
                        <p class="card-text">
                            <span style="font-size: 26px">50$</span>/sqft
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="~/Image/photo_design_project.svg" class="img-fluid rounded-end" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div class="card mt-4 mb-3 shadow-sm" style="width: 650px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="~/Image/plan_design_project.svg" class="img-fluid rounded-start" />
                </div>
                <div class="col-md-6">
                    <div class="card-body" style="color: #100C09;">
                        <br />
                        <p class="card-text" style="text-align: right;">
                            The <span style="font-size: 20px; color: #948064; ">technical project</span>
                            includes the creation of a planning solution for the apartment, the development
                            of drawings and technical supervision.
                        </p>
                        <br />
                        <p class="card-text" style="text-align: right;">
                            <span style="font-size: 26px">25$</span>/sqft
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5"></div>
</div>

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-6">
        <div class="card mt-4 mb-3 shadow-sm" style="width: 650px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="card-body" style="color: #100C09;">
                        <br />
                        <p class="card-text" style="text-align: right;">
                            <span style="font-size: 20px; color: #948064; ">Additional services</span><br /> 
                            Completion of objects with construction and finishing materials. 
                            Logistics. General construction and finishing works. Geodetic surveys.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="~/Image/photo_design_project.svg" class="img-fluid rounded-end" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

@section form{
    <div style="background-image: url(/Image/background.svg)">
        <div class="text-center text-light">
            
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger bg-light" })
            <div class="form-group">
                <div class="col-md-2 mx-md-auto">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger bg-light" })
                </div>
            </div>

            <br />

            <div class="form-group">
                <div class="col-md-2 mx-md-auto">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email*" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger bg-light" })
                </div>
            </div>

            <br />

            <div class="form-group">
                <div class="col-md-2 mx-md-auto">
                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", placeholder = "Subject" } })
                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger bg-light" })
                </div>
            </div>

            <br />

            <div class="form-group">
                <div class="col-md-2 mx-md-auto">
                    @Html.TextAreaFor(model => model.Message, htmlAttributes: new { @class = "form-control", placeholder = "Your question*" })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger bg-light" })
                </div>
            </div>

            <br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-2 mx-md-auto">
                    <input type="submit" value="Contact us" class="btn btn-light" />
                </div>
            </div>
            <br />
        </div>
        }
    </div>
}