﻿@model TrackingSystem.ViewModels.LoginModel

@{
    ViewBag.Title = "Login";
}

<br />
<h3 class="mt-xxl-5">Login</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })
        <div class="form-group">
            <div class="col-md-2 mx-md-auto mb-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 mx-md-auto mb-4">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group text-end">  
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Remember) @Html.LabelFor(model => model.Remember, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.Remember, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Forgot password?", "ForgotPassword", null, htmlAttributes: new { @class = "text-decoration-none" })
            </div>
        </div>

        

        <div class="form-group mt-4">
            <div class="col-md-offset-2 col-md-12 text-center">
                <input type="submit" value="SIGN IN" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<br />
<div class="mb-xxl-5 mt-xxl-5">
    @Html.ActionLink("Back to List", "Index", "Home", htmlAttributes: new { @class = "text-decoration-none" })
</div>
