﻿
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="container text-center">
    <div class="card mx-auto mt-5" style="width: 40rem;">
        <div class="card-body">
            <h1>
                Oops!
            </h1>
            <h2>
                <span class="text-danger">404</span> Not Found
            </h2>
            <div class="error-details">
                Sorry, an error has occured. Requested page not found!
            </div>
            <br />
            <div class="error-actions">
                @Html.ActionLink("Go back", null, null, htmlAttributes: new { onClick = "history.back();", @class = "btn btn-outline-danger btn-lg" })
            </div>
        </div>
    </div>
</div>